@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0 ;
}
 .menu_btn{
        display: none;
    }
body{
    max-width: 1440px;
     font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0 auto;
}
/* Nav Section End */
.header_section{
    background-color: #F3FCF7;
}
.logo{
    font-size: 32px;
    color: #06C167;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    font-weight: 500;
    align-items: center;
}
.nav_item{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
}
.nav_item li:hover{
    color: #06C167;
}
.hero_section{
    display: flex;
    justify-content: space-between;
}
.hero_title{
    /* margin-left: 135px; */
    padding-left: 135px;
    margin: 0 auto;
    padding-top: 173px;
}
.hero_title h1{
max-width: 585px;
font-size: 75px;
margin-bottom: 10px;
}
.hero_title p{
    max-width: 580px;
   margin-bottom: 30px;
}
.hero_section button{
    padding: 23px 50px;
    margin-bottom: 130px;
    background-color: #06C167;
    border-radius: 15px;
    border: 0;
    color: white;
}
button i{
    margin-left: 27px;
    font-weight: 300;
}
.hero_img{
    padding-right: 177px;
    margin-top: 146px;
}
.phone_img{
    display: none;
}
/* Hero Section End */
/* Logo Bar Start */
.logo_bar{
    padding-top: 103px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 103px;
    border-bottom: 1px solid #707070;
}
/* Logo Bar End */
/* Secvice section Start */
.service{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 57px;
    border-bottom: 1px solid #707070;
}
.item{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 251px;
}
.item i{
    font-size: 25px;
    color: #06C167;
    border: 1px solid #F3FCF7;
    padding: 20px;
    background-color: #F3FCF7;
    border-radius: 15px;
}
.text h6{
    font-size: 18px;
}
.text p{
    font-size: 14px;
    margin-top: 10px;
}
/* Secvice section End */
/* Healthy Food Section start */
.healthy_food{
    display: flex;
    margin-top: 155px;
    padding-left: 160px;
    /* gap: 108px; */
}
.healthy_foot_text{
    margin-top: 65px;
    width: 700px;
    padding-left: 108px;
}
.healthy_foot_text h1{
    font-size: 60px;
}
.healthy_foot_text p{
    margin-bottom: 19px;
    font-size: 15px;
}
.items{
    margin-top: 66px;
}
.texts{
    display: flex; 
}
.texts i{
    display: flex;
    color: #06C167;
    margin-left: 25px;
}
/* Healthy Food Section End */
/* Veggie Food Start */

.veggie_food{
    display: flex;
    margin-top: 205px;
    gap: 59px;
}
.phone_juce{
    display: none;
}
.veggie_foot_text{
    margin-top: 65px;
    width: 700px;
    margin-left: 95px;
}
.veggie_foot_text h1{
    font-size: 63px;
}
.veggie_foot_text p{
    margin-top: 15px;
    font-size: 15px;
}
.product{
    margin-top: 54px;
    display: flex;
    gap: 85px;
}

.title h5{
    display: flex;
    color: #06C167;
    font-size: 40px;
    justify-content: center;
}
.promo{
     padding: 28px;
     margin-top: 50px;
    background-color: #06C167;
    border-radius: 15px;
    display: flex;
    border: 0;
    color: white;
}
.veggie_img{
    padding-right: 130px;
}
/* Veggie Food End */
/* Variety Food Section Start  */
.variety_foods{
    margin-top: 174px;
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2);
}
.fiture button{
    padding: 15px;
    color: #06C167;
    background-color: #F3FAFB;
    border: 1px solid #06C167;
    border-radius: 15px;
    margin-bottom: 15px;
}
.fiture h1{
    font-size: 60px;
    margin-bottom: 70px;
}
.card{
   display: flex;
    border: 1px solid #06C167;
}
.variety_card{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.card_text{
    border: 1px solid #06C167;
    width: 290px;
    background-color: #F3FCF7;
}
.card_text h1{
    margin: 37px;
    font-size: 32px;
    max-width: 227px;
}
.card_text p{
    margin: 37px;
}
.card_button{
   padding: 10px 10px;
   background-color: #E6F9F0;
   border: 0;
   margin-left: 37px;
   color: #06C167;
}
/* Variety Food Section End  */
/* Popular Product Section Start */
.popular_item_card{
  margin-top: 192px;
  padding-left: 135px;
}
.populer_item_text{
    margin-bottom: 65px;
}
.populer_item_text p{
    margin-bottom: 19px;
}
.populer_item_text h1{
    font-size: 60px;
}
.card_item{
    display: flex;
    gap: 30px;
}

.popular_card{
    border: 2px solid #767675;
    width: 270px;
    border-radius: 12px;
}
.popular_card:hover{
    border-color: #06C167;
}
.popular_img{
    margin: 25px 40px 0 40px;
}
.star{
    text-align: center;
    color: #06C167;
}
.card_title{
    text-align: center;
    margin-top: 20px;
}
.card_title h5{
    font-size: 20px;
}
.price{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 25px;
    color: #06C167;
}
del{
    color: #767675;
}
.button_card{
    padding: 17px 30px;
    margin: 28px 47px;
    background-color: transparent;
    border:2px solid #06C167;
    border-radius: 12px;
    color: #06C167;
}
/* Popular Product Section End */
/* Button Background Start */
.last_bg{
    background-image: url(img/Last\ BG.png);
    width: 1173px;
    background-repeat: no-repeat;
   margin: 173px 139px 63px 135px;
   border-radius: 16px;
}
.img_text{
    width: 800px;
    color: white;
    padding: 109px 174px 36px 197px;
    font-size: 60px;
    text-align: center;
}
.bg_button{
    margin: 0 480px 86px 480px;
    padding: 30px 40px;
    border-radius: 16px;
    background-color: #06C167;
    color: white;
}
/* Button Background End */
/* Footer Section Start */
.footer_area{
    display: flex;
    justify-content: space-evenly;
    margin: 0 135px;
    margin-bottom: 95px;
    padding-top: 149px;
}
.foodies_ditels{
    width: 285px;
    margin-right: 150px;
}
.foodies_text h1{
    margin-bottom: 40px;
    color: #06C167;
    font-size: 32px;
}
.foodies_text p{
    margin-bottom: 51px;
}
.ml_25{
    margin-left: 25px;
}
.mr_25{
    margin-right: 25px;
}
.about{
    width: 107px;
}
.about h4{
    margin-bottom: 40px;
    font-size: 24px;
}
.about p{
    margin-bottom: 15px;
}
.ditels{
    margin-bottom: 5px;
}
.input{
    width: 338px;
}
.input h1{
    margin-bottom: 40px;
    font-size: 24px;
}
.input p{
    margin-bottom: 36px;
}
.footer_input{
    display: flex;
}
.footer_button{
    padding: 16px 142px 16px 24px;
    width: 50%;
    background-color: #F0F1EC;
    border: 0;
    outline: 0;
    border-radius: 12px;
}
.btn{
    padding: 15px 22px;
    margin-left: 15px;
    background-color: #06C167;
    border: 0;
    color: white;
    border-radius: 12px;
}
.copy_right{
 text-align: center;
    width: 1440px;
    margin-bottom: 37px;
}
/* Footer Section End */
/* Responsive For Mobile */
@media screen and (max-width:575px) {
    /* Nav Bar */
    /* .logo{
        width: 200px;
    } */
    .header_section{
        width: 100%;
        justify-content: center;
    }
    .hero_section{
        width: 100%;
    }
    .hero_section{
        padding: 47px 25px;
        width: 100%;
    }
    .nav_bar{
        padding: 20px 28px;
    }
    .nav_item{
        display: none;
        width: 320px;
    }
    .menu_btn{
        display: block;
    }
    /* Hero Section */
    .hero_section{
      padding: 0;
        flex-direction: column;
        max-width: 100%;
        
    }
    .hero_title{
        margin: 0;
       padding: 0 10px;
        max-width: 100%;
       text-align: center;
    }
    .hero_title h1{
        margin-top: 51px;
        font-size: 51px;
        margin-bottom: 8px;
    }
    .hero_title p{
        font-size: 14px;
        margin-bottom: 53px;
    }
    .hero_title button{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .hero_img{
       display: none;
       
    }
    .phone_img{
        display: block;
        margin:47px auto 0 auto ;
        padding: 0 27px;
        align-items: center;

    }
    /* Logo Bar */
    .logo_bar{
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    /* Main Section */
    .service{
        flex-wrap: wrap;
        gap: 65px;
        justify-content: center;
    }
    .item{
        flex-direction: column;
        justify-content: center;
       width: auto;
    }
    /* Healthy Food section */
    .healthy_food{
        flex-direction: column;
        margin:0;
        padding: 38px 28px;
    }
    .healthy_foot_text{
        width: 100%;
        margin-top: 0;
        padding: 57px 28px;
    }
    .healthy_foot_text h1{
        font-size: 35px;
    }
    .healthy_foot_text p{
    text-align: center;
    }
    /* Veggie Food section */
    .veggie_food{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        gap: 0;
    }
    .veggie_foot_text{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding:18px;
        align-items: center;
    }
    .veggie_foot_text h1{
        font-size: 35px;
        text-align: center;
        width: 370px;
        justify-content: center;
    }
    .veggie_foot_text p{
        text-align: center;
        padding-bottom: 13px;
    }
    .product{
        flex-direction: column;
        /* text-align: center; */
        gap: 38px;
        align-items: center;
    }
    .product h5{
        font-size: 40px;
        /* width: 325px; */
    }
    .promo{
        width: 100%;
        justify-content: center;
        border-radius: 0;
    }
    .veggie_img{
        display: none;
    }
    .phone_juce{
        display: block;
        margin: 0 auto;
        padding: 69px 55px;
    }
    /* Verity Of Foods */
    .variety_card{
        flex-direction: column;
        grid-template-columns: auto;
    }
    .card{
        flex-direction: column;
    }
    /* Popular Product Section */
    .popular_item_text {
        margin: 0;
    }
    .populer_item_text h1{
        font-size: 35px;
        margin-top: 13px;
        margin-bottom: 69px;
        text-align: center;
       margin-left: 50px;
    }
    .populer_item_text p{
        text-align: center;
        padding-top: 129px;
    }
    .popular_item_card{
        margin: 0;
        padding: 0;
    }
    .card_item{
        flex-direction: column;
        padding: 69px 28px;
        margin-left: 50px;
    }
/* Button Background Section */
.last_bg{
    flex-direction: column;
    margin: 0;
    background-size: cover;
}
.img_text{
    width: 293px;
    flex-direction: column;
}
.bg_button{
   justify-content: center;
   width: 325px;
    margin: 0 auto;
}


}
