@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0 ;
}
body{
    max-width: 1440px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 auto;
}
/* Nav Section End */
header{
    background-color: #F3FCF7;
}
.logo{
    font-size: 32px;
    color: #06C167;
    width: 500px;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    font-weight: 500;
}
.nav_item{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
}
.color{
    color: #06C167;
}
.hero_section{
    display: flex;
    justify-content: space-between;
}
.hero_title{
    margin-left: 135px;
    margin-top: 110px;
}
.hero_title h1{
max-width: 585px;
font-size: 75px;
margin-bottom: 10px;
}
.hero_title p{
    max-width: 580px;
   margin-bottom: 30px;
}
.hero_section button{
    padding: 23px 50px;
    margin-bottom: 130px;
    background-color: #06C167;
    border-radius: 15px;
    border: 0;
    color: white;
}
button i{
    margin-left: 27px;
    font-weight: 300;
}
.hero_img{
    padding-right: 177px;
    margin-top: 146px;
}
/* Hero Section End */
/* Logo Bar Start */
.logo_bar{
    padding-top: 103px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 103px;
    border-bottom: 1px solid #707070;
}
/* Logo Bar End */
/* Secvice section Start */
.service{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 57px;
    border-bottom: 1px solid #707070;
}
.item{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 251px;
}
.item i{
    font-size: 25px;
    color: #06C167;
    border: 1px solid #F3FCF7;
    padding: 20px;
    background-color: #F3FCF7;
    border-radius: 15px;
}
.text h6{
    font-size: 18px;
}
.text p{
    font-size: 14px;
    margin-top: 10px;
}
/* Secvice section End */
/* Healthy Food Section start */
.healthy_food{
    display: flex;
    margin-top: 155px;
    padding-left: 160px;
}
.healthy_foot_text{
    margin-top: 65px;
    width: 700px;
    margin-left: 108px;
}
.healthy_foot_text h1{
    font-size: 60px;
}
.healthy_foot_text p{
    margin-bottom: 19px;
    font-size: 15px;
}
.items{
    margin-top: 66px;
}
.texts{
    display: flex; 
}
.texts i{
    display: flex;
    color: #06C167;
    margin-left: 25px;
}
/* Healthy Food Section End */
/* Veggie Food Start */

.veggie_food{
    display: flex;
    margin-top: 205px;
}
.veggie_foot_text{
    margin-top: 65px;
    width: 700px;
    margin-left: 108px;
    gap: 60px;
}
.veggie_foot_text h1{
    font-size: 60px;
}
.veggie_foot_text p{
    margin-top: 15px;
    font-size: 15px;
}
.product{
    margin-top: 54px;
    display: flex;
    gap: 85px;
}

.title h5{
    display: flex;
    color: #06C167;
    font-size: 40px;
    justify-content: center;
}
button{
     padding: 28px;
     margin-top: 50px;
    background-color: #06C167;
    border-radius: 15px;
    display: flex;
    border: 0;
    color: white;
}
.veggie_img{
    padding-right: 130px;
}
/* Veggie Food End */










/* Healthy Food Section */